$font1: "Gilroy", sans-serif;

$color1: #f9f8fd;
$color2: #fefeff;
$color3: #22253b;
$color4: #f15525;
$color5: #38bff2;
$color6: #ffffff;
$color7: #dedede;
$color8: #eaf2f5;
$color9: #d8d8d8;
$color10: #8e8e8e;
