.mobile-menu {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    transform: translateX(100%);
    transition: transform 0.2s ease;
    z-index: 5;

    &.open {
        transform: translateX(0);
    }

    &__wrapper {
    }

    &__close {
        margin-top: 38px;
        margin-bottom: 41px;
        margin-left: 228px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__close-icon {
    }

    &__links {
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-left: 40px;
    }

    &__item {
    }

    &__link {
        text-decoration: none;
        color: $color3;
        font-size: 20px;
    }
}
.container {
}
.block-row {
}
